#nprogress .bar {
  background: #2156f3;
}

#nprogress .peg {
  box-shadow: 0 0 10px #2156f3, 0 0 5px #2156f3;
}

#nprogress .spinner-icon {
  border-top-color: #2156f3;
  border-left-color: #2156f3;
}