.login-container {
  height: 100vh;
}

.login-gradient {
  background: #6399f1;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right,
      #2156f3,
      #6399f1);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right,
      #2156f3,
      #6399f1);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.login-right-shadow {
  box-shadow: -11px -1px 20px -8px rgba(0, 0, 0, 0.25) inset;
}